@import "../../base/variables.css";

/* second-banner */
.second-banner .row {
  align-items: center;
}

.second-banner__pic img {
  width: 746px;
  height: 730px;
}

.second-banner__content span {
  font-weight: var(--poppins-600);
  text-transform: uppercase;
  color: var(--green);
}

.second-banner__content h2 {
  font-size: 40px;
  font-weight: var(--poppins-700);
  line-height: 54px;
}

.second-banner__content p {
  margin: 20px 0;
  font-size: 18px;
  font-weight: var(--poppins-400);
  color: var(--gray);
  width: 400px;
}

.second-banner__content button {
  margin-top: 20px;
  border: 1px solid var(--pink);
  border-radius: 10px;
  padding: 23px;
  width: 180px;
  cursor: pointer;
  font-size: 20px;
  font-weight: var(--poppins-500);
  color: var(--white);
  background-color: var(--pink);
}

.second-banner__content button:hover {
  color: var(--pink);
  background-color: var(--white);
  transition: ease-in-out 0.5s;
}

@media screen and (min-width: 576px) and (max-width: 786px) {
  /*  */
}

/* breakpoint for screen from 768px to 992px (md)*/
@media screen and (min-width: 786px) and (max-width: 991px) {
  /*  */
}

/* breakpoint for screen from 992px to 1200px (lg) */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .second-banner__pic img {
    width: 536px;
    height: 524px;
  }

  .second-banner__content h2 {
    width: 400px;
    font-size: 32px;
    line-height: 44px;
  }
}

/*  breakpoint for screen from 1200px to 1400px (xl)*/
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .second-banner__pic img {
    width: 641px;
    height: 627px;
  }

  .second-banner__content h2 {
    width: 400px;
    font-size: 32px;
    line-height: 44px;
  }

  .second-banner__content p {
    width: 450px;
    font-size: 16px;
  }
}
