/* header */
.header {
  margin-top: 40px;
}

.header .row {
  align-items: center;
}

.header__nav ul {
  display: flex;
  justify-content: center;
}

.header__nav ul li {
  margin: 0 15px;
  color: var(--gray);
  font-size: 14px;
  font-weight: var(--poppins-500);
}

.header__nav ul li:hover {
  color: var(--pink);
}

.header__form label {
  position: relative;
}

.header__form input {
  border: 1px solid var(--white);
  border-radius: 5px;
  padding: 15px 0;
  padding-right: 50px;
  padding-left: 40px;
  width: 300px;
  box-shadow: 1px 1px 10px 0px var(--light-gray);
}

.header__form input::placeholder {
  color: var(--black);
  font-family: var(--poppins);
  font-weight: var(--poppins-600);
}

.header__form input:focus::placeholder {
  visibility: hidden;
  transition: ease-in-out 0.3s;
}

.header__form .search-ic {
  position: absolute;
  top: 5px;
  left: 15px;
}

.header__form .cart-ic {
  position: absolute;
  top: 5px;
  right: -13px;
  border-left: 2px solid var(--gray);
  padding: 0 10px;
}

.header__form .cart-ic::after {
  content: "2";
  position: relative;
  top: -25px;
  right: 6px;
  border-radius: 50%;
  padding: 7px;
  color: var(--white);
  background-color: red;
  font-size: 0.7rem;
}

/* breakpoint for screen from 576px to 786px (sm) */
@media screen and (min-width: 576px) and (max-width: 786px) {
  /*  */
}

/* breakpoint for screen from 768px to 992px (md)*/
@media screen and (min-width: 786px) and (max-width: 991px) {
  /*  */
}

/* breakpoint for screen from 992px to 1200px (lg) */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .header__form label {
    right: 70px;
  }
}

/*  breakpoint for screen from 1200px to 1400px (xl)*/
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .header__form input {
    width: 270px;
  }
}
