.footer {
  margin: 100px auto;
}

.footer-top .company-links,
.footer-top .service-links {
  margin: 0 70px;
}

.footer-top .company-info p,
.footer-top .get-in-touch p {
  margin-top: 10px;
  width: 300px;
  font-size: 16px;
  color: var(--gray);
}

.footer-top .company-links ul,
.footer-top .service-links ul {
  margin-top: 25px;
}

.footer-top .company-links ul li,
.footer-top .service-links ul li {
  margin: 15px 0;
  color: var(--gray);
  font-size: 16px;
  cursor: pointer;
}

.footer-top .company-links ul li:hover,
.footer-top .service-links ul li:hover {
  color: var(--black);
}

.footer-bottom {
  color: var(--gray);
  position: relative;
  font-size: 16px;
  top: 70px;
}

.footer-bottom .row {
  align-items: center;
}

.footer-bottom__links {
  display: flex;
  justify-content: end;
}

.footer-bottom__links a {
  margin: 0 10px;

  color: var(--gray);
}

.footer-bottom__links a:hover {
  color: var(--black);
}

/* responsive */
@media screen and (min-width: 576px) and (max-width: 786px) {
  /*  */
}

@media screen and (min-width: 786px) and (max-width: 991px) {
  /*  */
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .footer-top .company-links,
  .footer-top .service-links {
    margin: 0 40px;
  }

  .footer-top .company-info p,
  .footer-top .get-in-touch p {
    width: 200px;
    font-size: 14px;
  }

  .footer-top .company-links ul li,
  .footer-top .service-links ul li {
    font-size: 11px;
  }

  .footer-bottom {
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .footer-top .company-links,
  .footer-top .service-links {
    margin: 0 50px;
  }
}
