h1 {
  /* change text color  */
  color: red;

  /* change text size */
  font-size: 4rem;

  /* change text fonts */
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  /* add text decoration */
  text-decoration: underline;

  /* change font weight  */
  font-weight: bold;

  /* make font italic */
  font-style: italic;

  /* change text position */
  text-align: center;
}
