@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* reset-css */
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(247, 246, 246);
  background-color: #fff;
}

a {
  color: #000;
  text-decoration: none;
  border: 1px solid #000;
}

#header {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #000;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.header__title {
  text-transform: uppercase;
}

.header__tag {
  display: block;
  width: 400px;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 30px;
}

#main {
  margin-top: 30px;
}

.project-list {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  flex-wrap: wrap;
}

.project {
  position: relative;
  margin: 20px 0;
}

.project-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  padding: 20px;
  width: 350px;
  border: 1px solid #000;
  border-radius: 10px;
}

.project-content a {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 200px;
  border-radius: 5px;
}

.project-content a:hover {
  transition: 0.5s;
  background-color: #000;
  color: #fff;
}

.project-tag {
  position: absolute;
  top: -10px;
  left: 120px;
}

.project-tag span {
  margin: 5px auto;
  padding: 5px 10px;
  border: 1px solid #000;
  border-radius: 30px;
  text-align: center;
  background-color: #fff;
}
